@model BL.Dtos.EmployerProfileDto
@{
    ViewData["Title"] = "Edit Employer Profile";
}

<div class="container mt-4 col-md-8">
    <div class="card shadow">
        <div class="card-header bg-warning text-dark">
            <h4><i class="bi bi-pencil-square"></i> Edit Employer Profile</h4>
        </div>
        <div class="card-body">
            <form asp-action="Edit">
                @Html.AntiForgeryToken()
                <input type="hidden" asp-for="Id" />
                @Html.Partial("Create", Model)
            </form>
        </div>
    </div>
</div>
